<section class="about container mt-9">
  <div class="ml-d3">
    <h3 class="mb-3">Über mich</h3>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
      et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <img class="about__img mr-d3" src="assets/img/florian.jpeg">
</section>
