<section class="footer mt-9">
  <div class="footer__content container py-8">
    <div>
      <p class="mb-2">
        <b>Adresse:</b>
      </p>
      <p class="mb-1">
        Erlenbruch 10
      </p>
      <p class="mb-1">
        38110 Braunschweig
      </p>
    </div>

    <div>
      <p class="mb-2">
        <b>Ansprechpartner:</b>
      </p>
      <p class="mb-1">
        Florian Schmidt
      </p>
      <p class="mb-1">
        Tel.: <a style="text-decoration: underline" href="tel: 01712771558">0171-2771558</a>
      </p>
      <p class="mb-1">
        Mail: <a style="text-decoration: underline" href="mailto: Smith_24@web.de">Smith_24&#64;web.de</a>
      </p>
    </div>

    <a class="footer__content__btn" href="https://wa.me/491712771558">
      <img class="p-6" src="assets/svg/whatsapp.svg" height="64" alt="Whatsapp">
    </a>

    <a class="footer__content__btn" href="https://instagram.com/smith_discs?igshid=MTNiYzNiMzkwZA==">
      <img class="p-6" src="assets/svg/instagram.svg" height="64" alt="Instagram">
    </a>
  </div>

  <div class="footer__signatures">
    <a class="footer__signatures__badge" href="https://github.com/jensmeichler" target="_blank" rel="nofollow">
      <p>
        <ng-container *ngIf="narrow$ | async; else wide">Made with</ng-container>
        <ng-template #wide>Website made with</ng-template>
        <img class="footer__signatures__badge__heart" src="assets/svg/heart.svg" width="16" height="16" alt="Heart">
        by Jens Meichler
      </p>
    </a>
  </div>
</section>
