<section class="footer mt-9">
  <div class="footer__content container py-8">
    <div>
      <p class="mb-2">
        <b>Adresse:</b>
      </p>
      <p class="mb-1">
        Erlenbruch 10
      </p>
      <p class="mb-1">
        38110 Braunschweig
      </p>
    </div>

    <div>
      <p class="mb-2">
        <b>Ansprechpartner:</b>
      </p>
      <p class="mb-1">
        Florian Schmidt
      </p>
      <p class="mb-1">
        Tel.: <a style="text-decoration: underline" href="tel: 01712771558">0171-2771558</a>
      </p>
      <p class="mb-1">
        Mail: <a style="text-decoration: underline" href="mailto: Smith_24@web.de">Smith_24&#64;web.de</a>
      </p>
    </div>

    <a href="https://wa.me/491712771558">
      <img src="assets/svg/whatsapp.svg" height="64" alt="Whatsapp">
    </a>

    <a href="https://instagram.com/smith_discs?igshid=MTNiYzNiMzkwZA==">
      <img src="assets/svg/instagram.svg" height="64" alt="Instagram">
    </a>
  </div>
</section>
