<nav class="header container">
  <h1 class="header__headline">
    <img class="header__headline__logo" src="assets/img/logo.png">
  </h1>
  <ul class="header__link-list">
    <li>
      <a
        href="https://59913f-3.myshopify.com/"
        target="_blank"
        rel="nofollow"
      >
        Online Store
      </a>
    </li>
    <li>
      <a
        href="https://www.google.com/maps/place/Smith+Discs+-+Disc+Golf+Store/@52.3271097,10.5548583,17z/data=!3m1!4b1!4m6!3m5!1s0x47aff376da56bd23:0x8f45f421133599b2!8m2!3d52.3271097!4d10.5548583!16s%2Fg%2F11shf0k2hh?entry=ttu"
        target="_blank"
        rel="nofollow"
      >
        Anfahrt
      </a>
    </li>
  </ul>
</nav>
