:host {
  z-index: 100;

  display: block;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #0000006D;
  backdrop-filter: blur(8px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  &__headline {
    display: flex;
    align-items: center;
    gap: var(--dynamic-margin-2);

    &__sub {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  &__link-list {
    display: flex;
    align-items: center;
    margin-right: -1rem;

    a {
      padding: 1rem;
    }
  }
}
