<div class="home__img">
  <img src="assets/img/hero.jpg" style="width: 100%" alt="">
</div>

<div class="container hero-wrapper">
  <section class="hero">
    <p class="hero__headline-secondary">
      Dein Spezialist wenn's um Disc Golf geht
    </p>

    <h2 class="hero__headline">
      <span>Kauf Disc Golf Scheiben</span>
      <span>oder lasse dich beraten</span>
    </h2>

    <p class="hero__text">
      Bei Fragen rund um Kurse, Scheiben und andere Disc Golf Themen, meldet euch per WhatsApp oder besucht uns im Laden.
    </p>

    <div class="hero__cta">
      <a
        href="https://wa.me/491712771558"
        class="hero__cta__btn hero__cta__btn--primary text-center"
      >
        <span class="hero__cta__btn__text">Jetzt per WhatsApp kontaktieren</span>
      </a>
      <a
        href="https://www.google.com/maps/place/Smith+Discs+-+Disc+Golf+Store/@52.3271097,10.5548583,17z/data=!3m1!4b1!4m6!3m5!1s0x47aff376da56bd23:0x8f45f421133599b2!8m2!3d52.3271097!4d10.5548583!16s%2Fg%2F11shf0k2hh?entry=ttu"
        target="_blank"
        rel="nofollow"
        class="hero__cta__btn hero__cta__btn--secondary text-center"
      >
        <span class="hero__cta__btn__text">Oder komm vorbei</span>
      </a>
    </div>
  </section>
</div>
