<section class="opening-times container mt-9">
  <div class="mx-d3">
    <h3 class="mb-3" id="opening-hours">Unsere Öffnungszeiten</h3>
    <hr>
    <div class="opening-times__grid">
      <div class="opening-times__day">
        <h4 class="mb-2">Montag</h4>
        <p>15:00 - 17:00 Uhr</p>
      </div>
      <div class="opening-times__day">
        <h4 class="mb-2">Dienstag</h4>
        <p>Geschlossen</p>
      </div>
      <div class="opening-times__day">
        <h4>Mittwoch</h4>
        <p>16:00 - 18:00 Uhr</p>
      </div>
      <div class="opening-times__day">
        <h4 class="mb-2">Donnerstag</h4>
        <p>16:00 - 18:00 Uhr</p>
      </div>
      <div class="opening-times__day">
        <h4 class="mb-2">Freitag</h4>
        <p>16:00 - 18:00 Uhr</p>
      </div>
      <div class="opening-times__day">
        <h4 class="mb-2">Samstag</h4>
        <p>Geschlossen</p>
      </div>
      <div class="opening-times__day">
        <h4 class="mb-2">Sonntag</h4>
        <p>Geschlossen</p>
      </div>
    </div>
  </div>
</section>
